[system]

# The max number of main frame is 9. There are 3 main frame is dedicate to special functions.
# target0, named home_window is the launch page.
# target1, named setting_window is for setting page.
# target2, named blank_all is for all pages, which target is not in rest list.
# PAY ATTENTION:
#   You can NOT modify target0, target1, target2 and unknown_target
#   You CAN modify url0, url1, url2 for your own pages.

# if target name is not in targets list, show the page in blank_all frame
unknown_target=blank_all

# target0 name
target0=home_window
url0=file://localhost/home/projects/hybridos/device-side/hishell/samples/index.html

# target1 name
target1=setting_window
url1=http://html5test.com

# target2 name
target2=blank_all
url2=http://www.sina.com.cn/

# target3 name
target3=

# target4 name
target4=

# target5 name
target5=

# target6 name
target6=

# target7 name
target7=

# target8 name
target8=

# dockbar visible time, unit: 10ms
dockbar_time=400

# dockbar animation show time, unit: ms
dockbar_animation_show_time=750

# dockbar animation hide time, unit: ms
dockbar_animation_hide_time=400

# status bar visible time, unit: 10ms
statusbar_time=200

# status bar animation show time, unit: ms
statusbar_animation_show_time=750

# status bar animation hide time, unit: ms
statusbar_animation_hide_time=400

[dock_icon0]
icon_file=res/arrow.svg
icon_color=#FA9C38
target=

[dock_icon1]
icon_file=res/home.svg
icon_color=#FA9C38
target=home_window

[dock_icon2]
icon_file=res/toggle.svg
icon_color=#FA9C38
target=

[dock_icon3]
icon_file=res/setting.svg
icon_color=#FA9C38
target=setting_window

[dock_icon4]
icon_file=res/about.svg
icon_color=#FA9C38
target=blank_all

[dock_icon5]
icon_file=res/shutdown.svg
icon_color=#FF0000
target=

