;/**************************************************************************/
;2010-06-09
;Sam
;image>�����ļ�����
;/**************************************************************************/

;��Ҫ���� 8�ֽ��ַ���
[MAIN_TYPE]
ITEM_COMMON         = "COMMON  "
ITEM_INFO           = "INFO    "
ITEM_BOOTROM        = "BOOTROM "
ITEM_FES            = "FES     "
ITEM_FET            = "FET     "
ITEM_FED            = "FED     "
ITEM_FEX            = "FEX     "
ITEM_BOOT           = "BOOT    "
ITEM_ROOTFSFAT12    = "RFSFAT12"
ITEM_ROOTFSFAT16    = "RFSFAT16"
ITEM_ROOTFSFAT32    = "FFSFAT32"
ITEM_USERFSFAT12    = "UFSFAT12"
ITEM_USERFSFAT16    = "UFSFAT16"
ITEM_USERFSFAT32    = "UFSFAT32"
ITEM_PHOENIX_SCRIPT = "PXSCRIPT"
ITEM_PHOENIX_TOOLS  = "PXTOOLS "
ITEM_AUDIO_DSP      = "AUDIODSP"
ITEM_VIDEO_DSP      = "VIDEODSP"
ITEM_FONT           = "FONT    "
ITEM_FLASH_DRV      = "FLASHDRV"
ITEM_OS_CORE        = "OS_CORE "
ITEM_DRIVER         = "DRIVER  "
ITEM_PIC            = "PICTURE "
ITEM_AUDIO          = "AUDIO   "
ITEM_VIDEO          = "VIDEO   "
ITEM_APPLICATION    = "APP     "

;�����͸�ʽ�����ο����������ⶨ�壬��󳤶ȱ���Ϊ16�ֽ�
[SUB_TYPE]
SUBTYPEdemo1 = "071228HWSXXXX100"
;-->071228 2007-12-28
;-->HWS hardware scan
;-->XXXX �û�����
;-->100 version 1.00

;·������
[DIR_DEF]
INPUT_DIR = "..\\"

;�ļ��б�
[FILELIST]
;----------------------------------------------------maintype��subtype���ɸı�----------------------------------------------;
    ;-------------------------------��������---------------------------------------;

    ;-->�̶������
    {filename = "sys_config.fex",   maintype = ITEM_COMMON,       subtype = "SYS_CONFIG100000",},
    {filename = "config.fex",       maintype = ITEM_COMMON,       subtype = "SYS_CONFIG_BIN00",},
    {filename = "split_xxxx.fex",   maintype = ITEM_COMMON,       subtype = "SPLIT_0000000000",},
    {filename = "sys_partition.fex",maintype = ITEM_COMMON,       subtype = "SYS_CONFIG000000",},
    {filename = "sunxi.fex",        maintype = ITEM_COMMON,       subtype = "DTB_CONFIG000000",},

    ;-->boot�ļ�
    {filename = "boot0_nand.fex",   maintype = ITEM_BOOT,         subtype = "BOOT0_0000000000",},
    {filename = "boot0_sdcard.fex", maintype = "12345678",        subtype = "1234567890BOOT_0",},
    {filename = "u-boot.fex",		maintype = "12345678",        subtype = "UBOOT_0000000000",},
    {filename = "toc1.fex",		maintype = "12345678",        subtype = "TOC1_00000000000",},
    {filename = "toc0.fex",		maintype = "12345678",        subtype = "TOC0_00000000000",},
    {filename = "fes1.fex",         maintype = ITEM_FES,          subtype = "FES_1-0000000000",},
    {filename = "boot_package.fex", maintype = "12345678",        subtype = "BOOTPKG-00000000",},

    ;-------------------------------usb��������-------------------------------------;
    ;-->tools�ļ�
    {filename = "usbtool.fex",      maintype = "PXTOOLSB",        subtype = "xxxxxxxxxxxxxxxx",},
    {filename = "aultools.fex",     maintype = "UPFLYTLS",        subtype = "xxxxxxxxxxxxxxxx",},
    {filename = "aultls32.fex",     maintype = "UPFLTL32",        subtype = "xxxxxxxxxxxxxxxx",},

    ;-------------------------------����������----------------------------------------;
    ;-->�̶������PCʹ��
    {filename = "cardtool.fex",     maintype = "12345678",        subtype = "1234567890cardtl",},
    {filename = "cardscript.fex",   maintype = "12345678",        subtype = "1234567890script",},

    ;-->��Ҫ��д�����ϵ��ļ�
    {filename = "sunxi_mbr.fex",       maintype = "12345678",        subtype = "1234567890___MBR",},
    {filename = "dlinfo.fex",          maintype = "12345678",        subtype = "1234567890DLINFO",},
    ;{filename = "arisc.fex",           maintype = "12345678",        subtype = "1234567890ARISC" ,},
    ;-------------------------------����----------------------------------------------;

;-------------------------------------------maintype��subtype���ɸı�-------------------------------------------------------;

;����������Ϣ
[IMAGE_CFG]
version = 0x100234                ;-->Image�İ汾
pid = 0x00001234                  ;-->��ƷID
vid = 0x00008743                  ;-->��Ӧ��ID
hardwareid = 0x100                ;-->Ӳ��ID bootrom
firmwareid = 0x100                ;-->�̼�ID bootrom
bootromconfig = "bootrom_071203_00001234.cfg"
rootfsconfig = "rootfs.cfg"
;;imagename = "ePDKv100_nand.img"
filelist = FILELIST
imagename = ..\sun4i_test_evb.img
encrypt = 0		;-->�������Ҫ���ܽ���������Ϊ0	����������Ϊ1
