;/////////////////////////////////////////////////////////////////////////////
;[key_ras]
;key_ras��������key������
;/////////////////////////////////////////////////////////////////////////////
[key_rsa]
key=Trustkey
key=NOTWORLD_KEY
key=PRIMARY_DEBUG_KEY
key=SCPFirmwareContentCertPK
key=SecondaryDebugCertPK
key=SoCFirmwareContentCert_KEY
key=TrustedFirmwareContentCertPK
key=TWORLD_KEY
key=NonTrustedFirmwareContentCertPK


[toc0]
;item=Item_TOC_name,	    	 Item_filename,		  		Key_Name
item=toc0, 					     sboot.bin,		    	    Trustkey
;/////////////////////////////////////////////////////////////////////////////
;tocl_sign
;��������ǩ���ļ���֤������������ϵ
;/////////////////////////////////////////////////////////////////////////////
[toc1]
;item=Item_TOC_name,	    	 Item_filename,		  		Key_Name
rootkey=rootkey, 		 rootkey.der,		    	Trustkey
item=monitor,			     monitor.fex,			TrustedFirmwareContentCertPK
item=scp,                scp.fex                    SCPFirmwareContentCertPK
onlykey=boot,            boot.fex,          		NonTrustedFirmwareContentCertPK
item=u-boot,			 u-boot.fex,				NonTrustedFirmwareContentCertPK

